<ng-container *ngIf="hasSeasons$ | async; else emptyState">
    <app-manage-seasons-toolbar
        (onAddSeason)="addSeason($event)"
        [isAdding]="isSeasonAdding"
    ></app-manage-seasons-toolbar>

    <app-layout-content>
        <app-seasons-list ></app-seasons-list>
    </app-layout-content>
</ng-container>

<ng-template #emptyState>
    <app-layout-content>
        <app-seasons-empty (onAddSeason)="addSeason(true)" [isAdding]="isSeasonAdding"></app-seasons-empty>
    </app-layout-content>
</ng-template>
