.banners {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.banners:not(:empty) {
    padding-bottom: var(--offset-md);
}

.banners__item:not(:last-child) {
    margin-bottom: var(--offset-sm);
}
