<mat-toolbar>
    <a routerLink="/admin/courses" mat-icon-button color="primary">
        <mat-icon>arrow_back</mat-icon>
    </a>

    <h2 class="margin-left--xs text--truncate">Manage "{{ course.name }}"</h2>

    <div class="margin-left--auto" *ngIf="toolbarActionsPortal$ | async as portal">
        <ng-template [cdkPortalOutlet]="portal"></ng-template>
    </div>
</mat-toolbar>

<nav mat-tab-nav-bar>
    <a
        *ngFor="let link of links"
        mat-tab-link
        routerLinkActive
        appMatTabRouterLink
        [routerLink]="link.path"
    >
        {{ link.title }}
    </a>
</nav>

<app-layout-content>
    <router-outlet></router-outlet>
</app-layout-content>
