.mat-card-header-text,
.mat-card-actions {
    margin: 0 !important;
}

.mat-card-header-text,
.mat-card-content,
.mat-card-actions.mat-card-actions {
    padding-left: var(--offset-xs);
    padding-right: var(--offset-xs);
}

@media (min-width: 600px) {
    .mat-card-xs {
        max-width: 300px;
        width: 100%;
    }
}


.mat-card--no-offsets,
.mat-card--no-offsets .mat-card-content {
    padding: 0 !important;
}
