:host {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.layout__sidenav {
    width: 300px;
    border-right: none;
    overflow: initial;
}

.layout__sidenav-column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.layout__sidenav-header {
    background-color: #5d34a7;
    position: relative;
    flex-shrink: 0;
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: 599px) {
    .layout__sidenav-header { box-shadow: 2px 0 0 0 #5D34A7 }
}

.layout__current-user {
    display: block;
    align-self: stretch;
    flex-grow: 1;
}

.layout__sidenav-content,
.layout__page {
    flex-grow: 1;
}
