:host {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.layout__sidenav {
    width: 300px;
    border-right: none;
    overflow: initial;
}

.layout__sidenav-header {
    background-color: #394aa3;
    position: relative;
    flex-shrink: 0;
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: 600px) {
    .layout__sidenav-header { box-shadow: 1px 0 0 0 var(--theme-primary-600) }
}

.layout__current-user {
    display: block;
    align-self: stretch;
    flex-grow: 1;
}

.layout__sidenav-content,
.layout__page {
    flex-grow: 1;
}

.layout__main-toolbar {
    position: sticky;
    top: 0;
    z-index: 300;
}

.layout__progress-bar {
    position: relative;
    margin-top: -4px;
}
