.block { display: block !important }
.block--full-width { width: 100% !important }
.block--full-height { height: 100% !important }

.flex { display: flex !important }
.flex--column { flex-direction: column !important }
.flex--align-center { align-items: center !important }
.flex--justify-end { justify-content: flex-end }

.flex--center.flex--center {
    align-items: center;
    justify-content: center;
}

.margin--none { margin: 0 !important }

.margin-left--xs { margin-left: var(--offset-xs) !important }
.margin-left--sm { margin-left: var(--offset-sm) !important }
.margin-left--auto { margin-left: auto !important }

.margin-bottom--none { margin-bottom: 0 !important }
.margin-bottom--xxs { margin-bottom: var(--offset-xxs) !important }
.margin-bottom--xs { margin-bottom: var(--offset-xs) !important }
.margin-bottom--sm { margin-bottom: var(--offset-sm) !important }
.margin-bottom--md { margin-bottom: var(--offset-md) !important }

.text--left { text-align: left !important; }

.text--truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list--none {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
