.sidenav-item.sidenav-item,
.sidenav-selector {
    width: 100%;
    height: 56px;
}

/* LINK ITEM */

.sidenav-item.sidenav-item {
    border-radius: 0;
    text-align: left;
    padding-top: var(--offset-xxs);
    padding-bottom: var(--offset-xxs);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.7);
    display: block;
}


/* SELECTOR ITEM */


.sidenav-selector {
    transition: background-color 0.2s var(--mat-transition);
}

.sidenav-selector:hover,
.sidenav-selector:focus {
    background-color: rgba(0, 0, 0, 0.04);
}

.sidenav-selector .mat-form-field-wrapper {
    padding-bottom: 0;
    height: 100%;
}
.sidenav-selector .mat-form-field-underline {
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.sidenav-selector .mat-form-field-flex {
    padding: var(--offset-xs) var(--offset-sm);
    height: 100%;
    align-items: center;
}

.sidenav-selector .mat-form-field-infix {
    padding: 0;
    border: none;
}
