.sidenav-item.sidenav-item,
.sidenav-selector {
    width: 100%;
    height: 56px;
}

/* LINK ITEM */

.sidenav-item.sidenav-item {
    border-radius: 0;
    text-align: left;
    padding-top: var(--offset-xxs);
    padding-bottom: var(--offset-xxs);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
}


/* SELECTOR ITEM */


.sidenav-selector {
    transition: background-color 0.2s var(--mat-transition);
}

.sidenav-selector:not(.mat-form-field-disabled):hover,
.sidenav-selector:not(.mat-form-field-disabled):focus {
    background-color: rgba(0, 0, 0, 0.04);
}

.sidenav-selector .mat-form-field-wrapper {
    padding-bottom: 0;
    height: 100%;
}

.sidenav-selector .mat-form-field-underline {
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.sidenav-selector.mat-form-field-disabled .mat-form-field-underline {
    background-image: none !important;
}

.sidenav-selector.mat-form-field-disabled .mat-select-arrow {
    color: transparent !important;
}

.sidenav-selector .mat-form-field-flex {
    padding: var(--offset-xs) var(--offset-sm);
    height: 100%;
    align-items: center;
}

.sidenav-selector .mat-form-field-infix {
    padding: 0;
    border: none;
}

.sidenav-selector .mat-select-value {
    color: rgba(0, 0, 0, 0.7);
}
