.seasons-list-item {
    transition: background-color 0.2s var(--mat-transition);
}

.seasons-list-item:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.seasons-list-item__title {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: inherit;
}
