<h1 mat-dialog-title>Add mentor</h1>

<form [formGroup]="mentorsForm" appBindFormErrors [appProcessingForm]="isAdding" (ngSubmit)="addMentor()">
    <div mat-card-content class="margin-bottom--none">
        <mat-form-field class="block block--full-width">
            <mat-label>User emails</mat-label>

            <app-users-input
                placeholder="Add user email..."
                formControlName="users"
            ></app-users-input>

            <mat-error appBindControlError="users"></mat-error>
        </mat-form-field>
    </div>

    <div mat-dialog-actions class="flex flex--justify-end">
        <button
            mat-button
            mat-dialog-close
            type="button"
            color="primary"
        >
            Cancel
        </button>

        <button
            mat-raised-button
            [appMatLoadingButton]="isAdding"
            [disabled]="isAddDisabled"
            type="submit"
            color="primary"
        >
            Add Mentor
        </button>
    </div>
</form>
