<h1 mat-dialog-title>Add mentor</h1>

<form [formGroup]="mentorForm" appBindFormErrors (ngSubmit)="addMentor()">
    <div mat-card-content class="margin-bottom--none">
        <mat-form-field class="form-field--md">
            <mat-label>Email</mat-label>

            <input
                matInput
                type="text"
                formControlName="query"
                [matAutocomplete]="usernameAutocomplete"
            >

            <mat-error appBindControlError="query"></mat-error>

            <mat-autocomplete #usernameAutocomplete="matAutocomplete">
                <mat-option
                    *ngFor="let mentor of mentors$ | async"
                    [value]="mentor.email"
                >
                    <img
                        class="mentor-autocomplete__option-avatar"
                        [src]="mentor.avatarUrl"
                        [alt]="mentor.username"
                    >

                    <p class="mentor-autocomplete__option-title">
                        {{ mentor.email }}
                    </p>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>

    <div mat-dialog-actions class="flex flex--justify-end">
        <button
            mat-button
            mat-dialog-close
            type="button"
            color="primary"
        >
            Cancel
        </button>

        <button
            mat-raised-button
            [appMatLoadingButton]="isAdding"
            type="submit"
            color="primary"
        >
            Add Mentor
        </button>
    </div>
</form>
