<mat-list-item class="mat-list-item--interactive" [class.mat-list-item--removing]="isRevoking">
    <div class="flex flex--align-center" mat-line *ngIf="!isRevoking">
        <p class="margin--none">{{ invitation.email }}</p>

        <button
            class="block margin-left--auto"
            mat-icon-button
            color="warn"
            matTooltip="Revoke invitation"
            (click)="revoke()"
        >
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</mat-list-item>
