<ng-container *ngIf="hasCourses$ | async; else emptyState">
    <mat-toolbar>
        <h2>Manage Courses</h2>

        <button
            mat-raised-button
            class="margin-left--auto"
            type="button"
            color="primary"
            (click)="addCourse()"
        >
            Add Course
        </button>
    </mat-toolbar>

    <app-layout-content>
        <app-courses-list></app-courses-list>
    </app-layout-content>
</ng-container>

<ng-template #emptyState>
    <mat-toolbar>
        <h2>Manage Courses</h2>
    </mat-toolbar>

    <app-layout-content>
        <app-courses-empty (onAddCourse)="addCourse()"></app-courses-empty>
    </app-layout-content>
</ng-template>
