<mat-card class="seasons-list__card" *ngIf="state$ | async as state">
    <mat-list>
        <ng-container *ngIf="state.activeSeason">
            <h3 mat-subheader>Active</h3>
            <app-seasons-list-item [season]="state.activeSeason"></app-seasons-list-item>
        </ng-container>

        <mat-divider *ngIf="state.activeSeason && state.inactiveSeasons.length"></mat-divider>

        <ng-container *ngIf="state.inactiveSeasons.length">
            <h3 mat-subheader>Inactive</h3>
            <app-seasons-list-item
                *ngFor="let season of state.inactiveSeasons"
                [season]="season"
            ></app-seasons-list-item>
        </ng-container>
    </mat-list>
</mat-card>
