<mat-card class="seasons-list__card">
    <mat-list>
        <ng-container *ngIf="activeSeason$ | async as activeSeason">
            <h3 mat-subheader>Active</h3>
            <app-seasons-list-item [season]="activeSeason"></app-seasons-list-item>
        </ng-container>

        <ng-container *ngIf="(inactiveSeasons$ | async)?.length">
            <mat-divider *ngIf="activeSeason$ | async"></mat-divider>
            <h3 mat-subheader>Inactive</h3>
            <app-seasons-list-item
                *ngFor="let season of inactiveSeasons$ | async"
                [season]="season"
            ></app-seasons-list-item>
        </ng-container>
    </mat-list>
</mat-card>
