<div mat-dialog-content>
    <p class="confirm-dialog__text">
        {{ bodyText }}
    </p>

    <mat-checkbox
        class="confirm-dialog__additional-action margin-bottom--xs"
        [formControl]="additionalActionControl!"
        color="primary"
        *ngIf="hasAdditionalAction"
    >
        {{ additionalActionText }}
    </mat-checkbox>
</div>

<div mat-dialog-actions class="confirm-dialog__actions">
    <button
        mat-button
        class="confirm-dialog__action"
        type="button"
        color="primary"
        (click)="decline()"
    >
        {{ declineActionText }}
    </button>

    <button
        mat-raised-button
        class="confirm-dialog__action"
        type="button"
        color="primary"
        cdkFocusInitial
        (click)="confirm()"
    >
        {{ confirmActionText }}
    </button>
</div>
