@import "./styles/variables.css";
@import "./styles/helpers.css";
@import "./styles/form-field.css";
@import "./styles/sidenav.css";
@import "./styles/overrides/main.css";

*, *:before, *:after { box-sizing: border-box }

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
